body {
    background-image: url('/img/car.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #F2839E;

}
h1 {
    margin: 0; /* heading style */
    padding: 0 0 20px;
    text-align: center;
    font-size: 60px;
    /*color: #1D112D;*/
    color: #1b1e21;
    font-weight: normal;
}
