body {
    background-image: url('/images/car.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #F2839E;

}
/*h1 {*/
/*    margin: 0; !* heading style *!*/
/*    padding: 0 0 20px;*/
/*    text-align: center;*/
/*    font-size: 60px;*/
/*    !*color: #1D112D;*!*/
/*    color: #1b1e21;*/
/*    font-weight: normal;*/
/*}*/
/*.heading {*/
/*    position: static;*/
/*    left: 100px;*/
/*    top: 300px;*/
/*    margin: 0; !* heading style *!*/
/*    padding: 150px;*/
/*    text-align: center;*/
/*    font-size: 100px;*/
/*    !*color: #1D112D;*!*/
/*    color: #1b1e21;*/
/*    font-weight: normal;*/
/*}*/

.text-upper {
    color: #1d112d;
    top: 20%;
    left: 50%;
    font-size: 110px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;

}