<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car park</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png"
          href="https://cdn-icons-png.flaticon.com/512/741/741407.png">
</head>
<body>

<nav class="navbar navbar-upper bg-success">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Home</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/users/profile" style="color: #ffdbdb">Profile</a></li>
            <li><a href="/users/logout" style="color: #ffdbdb">Logout</a></li>
        </ul>
    </div>
</nav>
<main>
    <div th:object="${gymId}">

        <h1 class="text-upper" th:text="'Are you sure you want to subscribe?'">
        </h1>
        <form class="button" th:object="${subscriptionAddBindingModel}" th:action="@{/subscription/add/(gymId=${gymId})}" method="POST">


            <input type="submit" name="submit" value="Subscribe">
        </form>
    </div>
</main>

</body>
</html>