<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car park</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/reset-css.css"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/dropbtn.css"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">

    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="icon" type="image/png"
          href="https://cdn-icons-png.flaticon.com/512/741/741407.png">
</head>
<body>
<div th:replace="fragments/navbar :: navbar">Navbar here</div>

<main>
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
<!--            <a th:each="city: ${cities}"-->
<!--               th:href="@{/parking/spot/{id}(id = ${cities})}">-->
<!--                <span th:text="${city}"></span>-->
<!--            </a>-->
            <a href="/parking/spot/sofia">Sofia</a>
            <a href="/parking/spot/sofia">Plovdiv</a>
            <a href="/parking/spot/sofia">Burgas</a>
<!--            <a th:href="@{/parking/spot/sofia}">Sofia</a>-->
<!--            <a th:href="@{/parking/spot/plovdiv}">Plovdiv</a>-->
<!--            <a th:href="@{/parking/spot/burgas}">Burgas</a>-->
        </div>

    </div>
</main>
</body>
</html>