<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Car park</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/reset-css.css"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">

    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <link rel="icon" type="image/png"
          href="https://cdn-icons-png.flaticon.com/512/741/741407.png">

</head>
<body>
<div th:replace="fragments/navbar :: navbar">Navbar here</div>

        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="isAuthenticated()" ><a href="/user/forward-to-profile"style="color: #ffdbdb">Profile</a></li>
            <li sec:authorize="isAuthenticated()"><a  href="/user/logout"style="color: #ffdbdb">Logout</a></li>
            <li sec:authorize="isAnonymous()"><a href="/user/login"style="color: #ffdbdb">Login</a></li>
            <li sec:authorize="isAnonymous()"><a href="/user/register"style="color: #ffdbdb">Register</a></li>
        </ul>
    </div>
</nav>
<main>
    <h1 class="text-upper">Error!</h1>
    <!--/*@thymesVar id="message" type="message"*/-->
    <p class="message" th:text="|You are mistaken!|"></p>
    <p class="message-1" th:text="| Error: ${message}|"></p>
</main>

</body>
</html>