<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car park</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/reset-css.css"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">

    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <link rel="icon" type="image/png"
          href="https://cdn-icons-png.flaticon.com/512/741/741407.png">
</head>
<body>

<div th:replace="fragments/navbar :: navbar">Navbar here</div>

<main>
    <div class="login-box">
        <h1>Login</h1>
        <form th:action="@{/users/login}" method="POST" th:object="${loginDTO}">

            <div>
                <p>Username</p>
                <label>
                    <input th:field="*{username}" th:errorclass="bg-danger" type="text" name="username" placeholder="Enter username">
                </label>
                <small th:each = "e : ${#fields.errors('username')}" th:text = "${e}" class="text-danger"></small>
            </div>
            <div>
                <p>Password</p>
                <label>
                    <input th:field="*{password}" th:errorclass="bg-danger" type="password" name="password" placeholder="Enter password">
                </label>
                <small  th:each = "e : ${#fields.errors('password')}" th:text = "${e}" class="text-danger"></small>
            </div>

            <input type="submit" name="submit" value="Login">
        </form>
    </div>
</main>

</body>
</html>