<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car park</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png"
          href="https://www.flaticon.com/free-icon/car_741407?term=car&page=1&position=8&page=1&position=8&related_id=741407&origin=search">
</head>
<body>
<nav class="navbar navbar-upper bg-success">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Home</a>
        </div>

    </div>
</nav>
<main>
    <h1 class="logo-index" style="font-size:9vw;">Car park</h1>
    <div class="buttons">
        <a class = "login-button" href="/templates/login.html">Login</a>
        <a class = "register-button" href="/templates/register.html">Register</a>
    </div>

</main>

</body>
</html>

