<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car park</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png"
          href="https://cdn-icons-png.flaticon.com/512/741/741407.png">
</head>
<body>

<nav class="navbar navbar-upper bg-success">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Home</a>
        </div>
    </div>

</nav>
<main>
    <div class="register-box">
        <h1>Register</h1>
        <form th:object="${registerDTO}" th:action="@{/users/register}" method="POST" enctype="multipart/form-data">
            <div>
                <p>Username</p>
                <input th:field="*{username}" th:errorclass="bg-danger" type="text" name="username" placeholder="Enter username">
                <small th:each = "e : ${#fields.errors('username')}" th:text = "${e}" class="text-danger"></small>
            </div>
            <div>
                <p>Password</p>
                <input th:field="*{password}" th:errorclass="bg-danger" type="password" name="password" placeholder="Enter password">
                <small th:each = "e : ${#fields.errors('password')}" th:text = "${e}" class="text-danger"></small>
            </div>
            <div>
                <p>Confirm Password</p>
                <input th:field="*{confirmPassword}" th:errorclass="bg-danger" type="password" name="password" placeholder="Enter your password again">
            </div>
            <div>
                <p>Age</p>
                <input th:field="*{age}" th:errorclass="bg-danger" type="number" name="age" placeholder="Enter age">
                <small th:each = "e : ${#fields.errors('age')}" th:text = "${e}" class="text-danger"></small>
            </div>

            <input type="submit" name="submit" value="Register">
        </form>

    </div>
</main>


</body>
</html>